<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXnEsYIiL60xpZ0Mv2nIeRYUktidOkkI8</string>
	<key>GCM_SENDER_ID</key>
	<string>789610511877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireconnct</string>
	<key>PROJECT_ID</key>
	<string>fire-connect-ok</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-connect-ok.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789610511877:ios:2a81181e7c0bfda227266c</string>
</dict>
</plist>